$default: #000;
$accent: #3eaaa5;
$background: #ccc;
$menu: #fff;
$accent-dark: #075350;


%OpenSans-400{
  font-family: 'OpenSans-Regular', sans-serif;
  font-weight: 400;
}

%OpenSansItalic-400{
  font-family: 'OpenSans-Italic', sans-serif;
  font-weight: 400;
}

%OpenSans-700{
  font-family: 'OpenSans-Bold', sans-serif;
  font-weight: 700;
}



@function max($numbers...) {
@return m#{a}x(#{$numbers});
}
@function min($numbers...) {
@return m#{i}n(#{$numbers});
}