.about{
  padding: 60px 0;
  &__content{
    margin-top: 40px;
  }
  &__text{
    font-size: 16px;
    line-height: 1.7;
    font-weight: 400;
    color: $accent-dark;
    margin: 10px 0 0 20px;
  }
  &__img{
    max-width: 400px;
    max-height: 100%;
    margin-left: 30px;
    margin-top: 15px;
    float: right;
    img{
      object-fit: cover;
    }
  }
}

@media(max-width: 800px) {
  .about{
    &__img{
      float: unset;
      margin: 10px auto;
    }
  }
}

@media(max-width: 600px) {
  .about{
    &__text{
      font-size: 14px;
    }
    &__img{
      display: none;
    }
  }
}