.reviews{
  padding: 60px 0;
  background-color: #fff;
  &__items{
    padding-top: 40px;
  }
  &__item{
    text-align: center;
  }
  &__text{
    font-size: 22px;
    line-height: 1.55;
    margin: 14px 0 5px;
    font-weight: 400;
    max-width: 700px;
    margin: 0 auto 36px;
  }
  &__item-img{
    width: 135px;
    height: 135px;
    border-radius: 50%;
    margin: 0 auto;
  }
  &__item-name{
    font-size: 16px;
    line-height: 1.35;
    margin: 14px 0 5px;
  }
    .slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .slick-dots li + li{
    margin-left: 15px;
  }
  .slick-dots button{
    font-size: 0;
    line-height: 0;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: none;
    background-color: #c7c7c7;
    padding: 0;
  }
  .slick-dots .slick-active button{
    background-color: #222;
  }
  .slick-arrow{
    font-size: 0;
    line-height: 0;
    border-radius: 50%;
    border: none;
    width: 30px;
    height: 30px;
    background-color: #eeeeee;
    cursor: pointer;
  }
  .reviews__items .slick-prev{
    position: absolute;
    bottom: 120px;
    left: 30%;
  }
  .slick-prev::before{
    content: '';
    width: 20px;
    height: 20px;
    background: url('../images/icons/arrow.svg') 0 0 / 100% no-repeat;
    position: absolute;
    top: 5px;
    left: 3px;
    z-index: 10;
  }
  .reviews__items .slick-next{
    position: absolute;
    bottom: 120px;
    right: 30%;
  }
  .slick-next::before{
    content: '';
    width: 20px;
    height: 20px;
    background: url('../images/icons/arrow.svg') 0 0 / 100% no-repeat;
    transform: rotate(180deg);
    position: absolute;
    top: 5px;
    right: 3px;
    z-index: 10;
  }

}


@media(max-width: 1000px) {
  .reviews{
    &__text{
      font-size: 16px;
    }
  }
}